body
{
    margin: 0%;
overflow-x: hidden;
}
ul
{
    list-style: none;
    display: flex;
    gap: 10px;
}
.nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
li
{
    display: flex;
    flex-direction: row;
}
select
{
    height: 20px;
    border: none;
}
.eco{
    margin-right: 5svh;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.logo
{
    width: 30svh;
    display: flex;
    gap: 10px;
}
.slide
{
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.slide button
{
    height: 50px;
    border-radius: 5px;
}
.perso
{
    position: absolute;
    text-align: center;
    width: 480px;
    color: white;
    margin-top: 90px;

}
.etoiles
{
position: absolute;
margin-top: -120px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
color: white;
width: 470px;
}


#rech
{
    height: 3svh;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 20;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: solid 1px rgb(240, 234, 222);
}
section
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    align-items: center;
    background-color: palegoldenrod;
}
.container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 590px;
    align-items: center;
}
.text
{
    width: 40%;
}
.touch
{
    width: 40%;
}
#mess
{
    height: 200px;
    width: 100%;
}
#send
{
    width: 100%;
    background: black;
    color: white;
    height: 30px;
}
#name
{
    width: 50%;
    height: 30px;
    
}
.name
{
    display: flex;

    
    gap: 10px;
}
#nav1
{
    height: 20px;
}
.section
{
    display: flex;
    flex-direction: column;
}
.section p
{
    margin-top: -15px;
}
#acc
{
    height: 300px;
    width: 250px;
}
.img
{
    position: relative;
    border: solid 1px rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 250px;
    height: 390px;

}
.img
{
    position: relative;
    border: solid 1px rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 250px;
    height: 330px;

}
.acc1
{
    position: absolute;
    height: 50px;
    margin-bottom: 10px;
}
.colect
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    width: 90%;
}
.containern
{
    justify-content: center;
    display: flex;
}
.touch
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1500px;
    gap: 10px;
    margin-top: 50px;
}

.cercle
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: red;
    border: solid 1px;
}
.cercle2
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(176, 255, 5);
    border: solid 1px;
}
.cercle3
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(5, 255, 201);
    border: solid 1px;
}
.cercle4
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(5, 72, 255);
    border: solid 1px;
}
.cercle5
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(255, 5, 5);
    border: solid 1px;
}
.cercle6
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(74, 76, 69);
    border: solid 1px;
}
.cercle7
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    border: solid 1px;
}

.cercle8
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(100, 168, 28);
    border: solid 1px;
}
.cercle9
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    border: solid 1px;
}
.cercle10
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(254, 123, 0);
    border: solid 1px;
}
.cercle11
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(176, 147, 120);
    border: solid 1px;
}
.cercle12
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(0, 254, 110);
    border: solid 1px;
}

.cercle13
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(254, 97, 0);
    border: solid 1px;
}
.cercle14
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(49, 76, 46);
    border: solid 1px;
}

.cercle15
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(149, 255, 137);
    border: solid 1px;
}
.cercle16
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(191, 2, 2);
    border: solid 1px;
}
.cercle17
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(6, 15, 29);
    border: solid 1px;
}
.cercle18
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    border: solid 1px;
}
.cercle19
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(245, 240, 240);
    border: solid 1px;
}
.cercle20
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(62, 45, 45);
    border: solid 1px;
}
.cercle21
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(6, 6, 6);
    border: solid 1px;
}
.cercle22
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(216, 58, 227);
    border: solid 1px;
}
.cercle23
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    border: solid 1px;
}
.cercle24
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(253, 253, 253);
    border: solid 1px;
}
.cercle25
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    border: solid 1px;
}
.cercle26
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(8, 146, 17);
    border: solid 1px;
}
.cercle27
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    border: solid 1px;
}
.cercle28
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(190, 190, 190);
    border: solid 1px;
}

.cercle29
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(253, 91, 5);
    border: solid 1px;
}
.cercle30
{
    height: 15px;
    width: 10px;
    border-radius: 30px;
    background-color: rgb(3, 8, 16);
    border: solid 1px;
}
.holder
{
    border: solid;
    background: transparent;
    display: flex;
}
#send
{
    padding: 15px;
    border: none;
    background: white;
}
#submit
{
   padding: 10px; 
}
.col
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px;
    background-color: transparent;
}
.icone
{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    border: solid 1px rgb(154, 150, 150);
}
.log

{
    display: flex;
    gap: 5px;
}
#pay
{
    height: 40px;
}
a
{
    text-decoration: none;
    color: black;
}
.touch1
{
}

#butter
{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-bottom:solid 1px  rgb(8, 8, 8);
}






@media screen and (max-width:800px) {
    .containern
    {
        justify-content: center;
        display: flex;
        height: 500px;
    }
    
    .colect
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        width: 100%;
    }
    .container
    {
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: 1000px;
    }
    footer p
    { font-size: 10px;}

    #send
{
    padding:1px;
    border: none;
    background: white;
}
#submit
{
   padding: 0px; 
}
footer
{
    display: flex;
    gap: 20px;
}
.nav
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}
.logo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.eco
{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    
    }
    
